@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  @apply text-gray-600;
  background-color: var(--primary-color);
}

:root {
  --primary-color: #e0e5ec;
  --secondary-color: #d1d9e6;
  --shadow-color: #a3b1c6;
  --highlight-color: #ffffff;
}

@layer utilities {
  .outer-shadow {
    box-shadow: 4px 4px 8px var(--shadow-color), -4px -4px 8px var(--highlight-color);;
  }
  .inner-shadow {
    box-shadow: inset 2px 2px 5px var(--shadow-color), inset -2px -2px 5px var(--highlight-color);
  }
  .outer-shadow-small {
    box-shadow: 3px 3px 4px var(--shadow-color), -3px -3px 4px var(--highlight-color);
  }
}